.calculator {
  background-color: #899dae;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 #00000026, 0 2px 4px 0 #0000001f;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  width: 425px;
  overflow: hidden;
}

.calculator__display {
  background-color: #424c52;
  border: 2px solid #424c52;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  text-align: end;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  padding: 0.5rem;
}

.calculator__key {
  background-color: hsl(210, 25%, 95%);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 12px 0;
}

.zero {
  grid-column: 1 / span 2;
}

.operator {
  background-color: rgb(141, 248, 248);
}
